In [170]:
import re
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [171]:
df_passos = pd.read_csv('Base de dados\\PEDE_PASSOS_DATASET_FIAP.csv', sep=';')
df_passos.head()

,INSTITUICAO_ENSINO_ALUNO_2020,NOME,IDADE_ALUNO_2020,ANOS_PM_2020,FASE_TURMA_2020,PONTO_VIRADA_2020,INDE_2020,INDE_CONCEITO_2020,PEDRA_2020,DESTAQUE_IEG_2020,...,IPP_2022,REC_AVA_1_2022,REC_AVA_2_2022,REC_AVA_3_2022,REC_AVA_4_2022,INDICADO_BOLSA_2022,PONTO_VIRADA_2022,IPV_2022,IAN_2022,NIVEL_IDEAL_2022
0,Escola Pública,ALUNO-1,11,2,2H,Não,7.883752,B,Ametista,Seu destaque em 2020: A sua boa entrega das li...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,ALUNO-2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.625000,Mantido na Fase + Bolsa,Mantido na Fase atual,NaN,NaN,Sim,Não,7.916665,5.0,Fase 2 (5º e 6º ano)
2,Escola Pública,ALUNO-3,12,2,3H,Não,7.856389666666666,B,Ametista,Seu destaque em 2020: A sua boa entrega das li...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Escola Pública,ALUNO-4,10,2,1D,Não,5.076252,D,Quartzo,Ponto a melhorar em 2021: Melhorar a sua entre...,...,6.250000,Promovido de Fase,Mantido na Fase atual,Promovido de Fase,NaN,Não,Não,8.055553,5.0,Fase 3 (7º e 8º ano)
4,Escola Pública,ALUNO-5,10,1,2M,Não,8.077085,B,Ametista,Seu destaque em 2020: A sua boa entrega das li...,...,6.458333,Mantido na Fase atual,Promovido de Fase,Mantido na Fase atual,NaN,Não,Não,7.833337,5.0,Fase 3 (7º e 8º ano)

In [172]:
df_passos.columns

Index(['INSTITUICAO_ENSINO_ALUNO_2020', 'NOME', 'IDADE_ALUNO_2020',
       'ANOS_PM_2020', 'FASE_TURMA_2020', 'PONTO_VIRADA_2020', 'INDE_2020',
       'INDE_CONCEITO_2020', 'PEDRA_2020', 'DESTAQUE_IEG_2020',
       'DESTAQUE_IDA_2020', 'DESTAQUE_IPV_2020', 'IAA_2020', 'IEG_2020',
       'IPS_2020', 'IDA_2020', 'IPP_2020', 'IPV_2020', 'IAN_2020', 'FASE_2021',
       'TURMA_2021', 'INSTITUICAO_ENSINO_ALUNO_2021',
       'SINALIZADOR_INGRESSANTE_2021', 'PEDRA_2021', 'INDE_2021', 'IAA_2021',
       'IEG_2021', 'IPS_2021', 'IDA_2021', 'IPP_2021', 'REC_EQUIPE_1_2021',
       'REC_EQUIPE_2_2021', 'REC_EQUIPE_3_2021', 'REC_EQUIPE_4_2021',
       'PONTO_VIRADA_2021', 'IPV_2021', 'IAN_2021', 'NIVEL_IDEAL_2021',
       'DEFASAGEM_2021', 'FASE_2022', 'TURMA_2022', 'ANO_INGRESSO_2022',
       'BOLSISTA_2022', 'INDE_2022', 'CG_2022', 'CF_2022', 'CT_2022',
       'PEDRA_2022', 'DESTAQUE_IEG_2022', 'DESTAQUE_IDA_2022',
       'DESTAQUE_IPV_2022', 'IAA_2022', 'IEG_2022', 'IPS_2022', 'IDA_2022',
       'NOTA_PORT_2022', 'NOTA_MAT_2022', 'NOTA_ING_2022', 'QTD_AVAL_2022',
       'IPP_2022', 'REC_AVA_1_2022', 'REC_AVA_2_2022', 'REC_AVA_3_2022',
       'REC_AVA_4_2022', 'INDICADO_BOLSA_2022', 'PONTO_VIRADA_2022',
       'IPV_2022', 'IAN_2022', 'NIVEL_IDEAL_2022'],
      dtype='object')

RETIRAR MARKDOWN APÓS FINALIZAR

Colunas úteis (juntar as similares em uma): Ponto_virada, inde, iaa, ieg, ips, ida, ipp, ipv, ian, pedra, classificação pedra, indicado bolsa / bolsista, indicador, valor indicador

Colunas inúteis (retirar quando for criar tabelas específicas): Fase, turma, cg, cf, ct, destaques, notas materias, qtd aval, recs, nivel ideal

Ponto de Virada - Se atingiu ponto de virada?
INDE - Indice de Desenvolvimento Educacional (Média dada pelo IAN, IDA, IEG, IAA, IPS, IPP E IPV)
IAA - Indicador de Auto Avaliação (Média das notas de auto avaliação)
IEG - Indicador de Engajamento (Média das notas de engajamento)
IPS - Indicador Psicossocial (Média das Notas Psicossociais)
IDA - Indicador de Aprendizagem (Média das notas de Aprendizagem)
IPP - Indicador Psicopedagógico
IPV - Indicador de Ponto de Virada
IAN - Indicador de Adequação ao Nível
Pedra - Classificação baseado no número do INDE (quartzo -> Ágata -> Ametista -> Topázio)
Classificação pedra - 
Indicador - 
Valor indicador - 
Indicado Bolsa - 
Bolsista -

In [173]:
df_passos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1349 entries, 0 to 1348
Data columns (total 69 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   INSTITUICAO_ENSINO_ALUNO_2020  728 non-null    object
 1   NOME                           1349 non-null   object
 2   IDADE_ALUNO_2020               728 non-null    object
 3   ANOS_PM_2020                   728 non-null    object
 4   FASE_TURMA_2020                728 non-null    object
 5   PONTO_VIRADA_2020              702 non-null    object
 6   INDE_2020                      728 non-null    object
 7   INDE_CONCEITO_2020             728 non-null    object
 8   PEDRA_2020                     728 non-null    object
 9   DESTAQUE_IEG_2020              728 non-null    object
 10  DESTAQUE_IDA_2020              728 non-null    object
 11  DESTAQUE_IPV_2020              703 non-null    object
 12  IAA_2020                       728 non-null    object
 13  IEG_2020                       728 non-null    object
 14  IPS_2020                       728 non-null    object
 15  IDA_2020                       728 non-null    object
 16  IPP_2020                       728 non-null    object
 17  IPV_2020                       728 non-null    object
 18  IAN_2020                       728 non-null    object
 19  FASE_2021                      686 non-null    float64
 20  TURMA_2021                     686 non-null    object
 21  INSTITUICAO_ENSINO_ALUNO_2021  686 non-null    object
 22  SINALIZADOR_INGRESSANTE_2021   686 non-null    object
 23  PEDRA_2021                     686 non-null    object
 24  INDE_2021                      686 non-null    object
 25  IAA_2021                       686 non-null    float64
 26  IEG_2021                       686 non-null    float64
 27  IPS_2021                       686 non-null    float64
 28  IDA_2021                       686 non-null    float64
 29  IPP_2021                       686 non-null    float64
 30  REC_EQUIPE_1_2021              686 non-null    object
 31  REC_EQUIPE_2_2021              686 non-null    object
 32  REC_EQUIPE_3_2021              686 non-null    object
 33  REC_EQUIPE_4_2021              686 non-null    object
 34  PONTO_VIRADA_2021              686 non-null    object
 35  IPV_2021                       686 non-null    float64
 36  IAN_2021                       686 non-null    float64
 37  NIVEL_IDEAL_2021               686 non-null    object
 38  DEFASAGEM_2021                 686 non-null    float64
 39  FASE_2022                      862 non-null    float64
 40  TURMA_2022                     862 non-null    object
 41  ANO_INGRESSO_2022              862 non-null    float64
 42  BOLSISTA_2022                  862 non-null    object
 43  INDE_2022                      862 non-null    float64
 44  CG_2022                        862 non-null    float64
 45  CF_2022                        862 non-null    float64
 46  CT_2022                        862 non-null    float64
 47  PEDRA_2022                     862 non-null    object
 48  DESTAQUE_IEG_2022              862 non-null    object
 49  DESTAQUE_IDA_2022              862 non-null    object
 50  DESTAQUE_IPV_2022              862 non-null    object
 51  IAA_2022                       862 non-null    float64
 52  IEG_2022                       862 non-null    float64
 53  IPS_2022                       862 non-null    float64
 54  IDA_2022                       862 non-null    float64
 55  NOTA_PORT_2022                 860 non-null    float64
 56  NOTA_MAT_2022                  860 non-null    float64
 57  NOTA_ING_2022                  285 non-null    float64
 58  QTD_AVAL_2022                  862 non-null    float64
 59  IPP_2022                       862 non-null    float64
 60  REC_AVA_1_2022                 862 non-null    object
 61  REC_AVA_2_2022                 862 non-null    object
 62  REC_AVA_3_2022                 626 non-null    object
 63  REC_AVA_4_2022                 285 non-null    object
 64  INDICADO_BOLSA_2022            862 non-null    object
 65  PONTO_VIRADA_2022              862 non-null    object
 66  IPV_2022                       862 non-null    float64
 67  IAN_2022                       862 non-null    float64
 68  NIVEL_IDEAL_2022               862 non-null    object
dtypes: float64(26), object(43)
memory usage: 727.3+ KB

In [174]:
df_passos.shape

(1349, 69)

In [175]:
def limpar_df(df):
    _df = df.dropna(subset=df.columns.difference(['NOME', 'ANO']), how='all') # executa o dropna para todas as colunas sem visualizar a coluna NOME
    _df = _df[~_df.isna().all(axis=1)] # remove linhas com apenas NaN, se tiver algum dado na linha não remove
    return _df

In [176]:
def analyse_corr(df):
  import seaborn as sns
  import matplotlib.pyplot as plt

  df = df.apply(pd.to_numeric, errors='coerce')

  corr_matrix = df.corr()
  plt.figure(figsize=(10, 8))
  sns.heatmap(corr_matrix, annot=True, cmap='coolwarm', center=0)
  plt.show()

In [177]:

def filtrar_colunas_por_ano(df, ano):
    padrao = re.compile(f'.*_{ano}$')
    colunas_ano = [col for col in df.columns if padrao.match(col) or col == 'NOME']
    df_ano = df[colunas_ano].copy()
    df_ano['ANO'] = ano
    df_ano.columns = [re.sub(f'_{ano}$', '', col) for col in df_ano.columns]

    return df_ano

In [178]:

def processar_ano(df, ano: int, stats: bool = True):
    df_filtrado = filtrar_colunas_por_ano(df, ano)
    df_ano = df_filtrado.query('ANO == @ano')

    # conversão para float com coerção (alguns indicadores possuem sujeira)
    colunas_indicadores = ['INDE', 'IAA', 'IEG', 'IPS', 'IDA', 'IPP', 'IPV', 'IAN']
    df_ano[colunas_indicadores] = df_ano[colunas_indicadores].apply(lambda col: pd.to_numeric(col, errors='coerce'))

    # cria o df limpo sem NaNs
    df_ano_clean = limpar_df(df_ano)

    return df_ano, df_ano_clean

In [179]:
df_2020, df_2020_limpo = processar_ano(df_passos, 2020)
df_2021, df_2021_limpo = processar_ano(df_passos, 2021)
df_2022, df_2022_limpo = processar_ano(df_passos, 2022)

In [180]:
print(df_2020.shape, df_2020_limpo.shape)
print(df_2021.shape, df_2021_limpo.shape)
print(df_2022.shape, df_2022_limpo.shape)

(1349, 20) (728, 20)
(1349, 22) (686, 22)
(1349, 32) (862, 32)

# Removendo registros nulos

In [181]:
df_2020_limpo.isna().sum()

INSTITUICAO_ENSINO_ALUNO     0
NOME                         0
IDADE_ALUNO                  0
ANOS_PM                      0
FASE_TURMA                   0
PONTO_VIRADA                26
INDE                         1
INDE_CONCEITO                0
PEDRA                        0
DESTAQUE_IEG                 0
DESTAQUE_IDA                 0
DESTAQUE_IPV                25
IAA                          1
IEG                          1
IPS                          1
IDA                          1
IPP                          1
IPV                          1
IAN                          1
ANO                          0
dtype: int64

In [182]:
df_2020_limpo.drop(index=df_2020_limpo[df_2020_limpo['INDE'].isna()].index, inplace=True)
df_2020_limpo.shape

(727, 20)

In [183]:
df_2021_limpo.isna().sum()

NOME                        0
FASE                        0
TURMA                       0
INSTITUICAO_ENSINO_ALUNO    0
SINALIZADOR_INGRESSANTE     0
PEDRA                       0
INDE                        2
IAA                         0
IEG                         0
IPS                         0
IDA                         0
IPP                         0
REC_EQUIPE_1                0
REC_EQUIPE_2                0
REC_EQUIPE_3                0
REC_EQUIPE_4                0
PONTO_VIRADA                0
IPV                         0
IAN                         0
NIVEL_IDEAL                 0
DEFASAGEM                   0
ANO                         0
dtype: int64

In [184]:
df_2021_limpo.drop(index=df_2021_limpo[df_2021_limpo['INDE'].isna()].index, inplace=True)
df_2021_limpo.shape

(684, 22)

In [185]:
df_2022_limpo['INDE'].isna().sum()

np.int64(0)

In [186]:
df_concat = pd.concat([df_2020_limpo, df_2021_limpo, df_2022_limpo], ignore_index=True)

In [187]:
df_concat.head()

,INSTITUICAO_ENSINO_ALUNO,NOME,IDADE_ALUNO,ANOS_PM,FASE_TURMA,PONTO_VIRADA,INDE,INDE_CONCEITO,PEDRA,DESTAQUE_IEG,...,CT,NOTA_PORT,NOTA_MAT,NOTA_ING,QTD_AVAL,REC_AVA_1,REC_AVA_2,REC_AVA_3,REC_AVA_4,INDICADO_BOLSA
0,Escola Pública,ALUNO-1,11,2,2H,Não,7.883752,B,Ametista,Seu destaque em 2020: A sua boa entrega das li...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Escola Pública,ALUNO-3,12,2,3H,Não,7.856390,B,Ametista,Seu destaque em 2020: A sua boa entrega das li...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Escola Pública,ALUNO-4,10,2,1D,Não,5.076252,D,Quartzo,Ponto a melhorar em 2021: Melhorar a sua entre...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Escola Pública,ALUNO-5,10,1,2M,Não,8.077085,B,Ametista,Seu destaque em 2020: A sua boa entrega das li...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Rede Decisão/União,ALUNO-8,14,3,4L,Sim,8.381391,B,Ametista,Seu destaque em 2020: A sua boa entrega das li...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Modificando

In [188]:
df_2020_prep = df_2020_limpo[['ANO', 'PONTO_VIRADA', 'INDE', 'IAA', 'IEG', 'IPS', 'IDA', 'IPP', 'IPV', 'IAN', 'PEDRA']]
df_2020_prep.head()

,ANO,PONTO_VIRADA,INDE,IAA,IEG,IPS,IDA,IPP,IPV,IAN,PEDRA
0,2020,Não,7.883752,8.50002,8.7,7.500,7.000000,5.9375,7.750000,10.0,Ametista
2,2020,Não,7.856390,7.91667,8.9,7.500,5.500000,8.1250,8.111113,10.0,Ametista
3,2020,Não,5.076252,8.00002,4.1,6.875,0.000000,7.1875,7.750000,5.0,Quartzo
4,2020,Não,8.077085,7.50002,8.0,7.500,7.500000,8.4375,8.166665,10.0,Ametista
7,2020,Sim,8.381391,8.33334,9.9,4.375,7.333333,8.7500,8.944450,10.0,Ametista

In [189]:
df_2021_limpo.columns

Index(['NOME', 'FASE', 'TURMA', 'INSTITUICAO_ENSINO_ALUNO',
       'SINALIZADOR_INGRESSANTE', 'PEDRA', 'INDE', 'IAA', 'IEG', 'IPS', 'IDA',
       'IPP', 'REC_EQUIPE_1', 'REC_EQUIPE_2', 'REC_EQUIPE_3', 'REC_EQUIPE_4',
       'PONTO_VIRADA', 'IPV', 'IAN', 'NIVEL_IDEAL', 'DEFASAGEM', 'ANO'],
      dtype='object')

In [190]:
df_2021_prep = df_2021_limpo[['ANO', 'PONTO_VIRADA', 'INDE', 'IAA', 'IEG', 'IPS', 'IDA', 'IPP', 'IPV', 'IAN', 'PEDRA']]
df_2021_prep.head()

     ANO PONTO_VIRADA   INDE  IAA   IEG  IPS  IDA  IPP  IPV   IAN     PEDRA
0   2021          Não  7.319  7.5   6.3  6.9  8.8  7.7  8.1   5.0  Ametista
2   2021          Não  7.021  7.1   6.9  6.3  5.6  7.3  7.2  10.0  Ametista
4   2021          Não  7.399  7.4   7.5  7.5  5.4  8.5  7.4  10.0  Ametista
7   2021          Não  8.269  8.8   8.6  7.5  7.1  8.0  8.5  10.0   Topázio
10  2021          Sim  8.990  9.0  10.0  6.3  8.8  7.7  9.7  10.0   Topázio

In [191]:
df_2022_prep = df_2022_limpo[['ANO', 'PONTO_VIRADA', 'INDE', 'IAA', 'IEG', 'IPS', 'IDA', 'IPP', 'IPV', 'IAN', 'PEDRA']]
df_2022_prep.head()

,ANO,PONTO_VIRADA,INDE,IAA,IEG,IPS,IDA,IPP,IPV,IAN,PEDRA
1,2022,Não,7.675509,10.00002,7.581705,7.5,8.816667,5.625000,7.916665,5.0,Ametista
3,2022,Não,7.117065,10.00002,8.071429,7.5,5.083333,6.250000,8.055553,5.0,Ametista
4,2022,Não,7.232336,6.41668,8.557505,7.5,7.083333,6.458333,7.833337,5.0,Ametista
5,2022,Não,7.741669,9.00002,9.333333,7.5,5.500000,6.250000,7.500000,10.0,Ametista
6,2022,Não,7.406743,10.00002,9.314954,7.5,5.583333,5.937500,7.916670,5.0,Ametista

In [192]:
df_prep_concat = pd.concat([df_2020_prep, df_2021_prep, df_2022_prep], ignore_index=True)
df_prep_concat.head()

,ANO,PONTO_VIRADA,INDE,IAA,IEG,IPS,IDA,IPP,IPV,IAN,PEDRA
0,2020,Não,7.883752,8.50002,8.7,7.500,7.000000,5.9375,7.750000,10.0,Ametista
1,2020,Não,7.856390,7.91667,8.9,7.500,5.500000,8.1250,8.111113,10.0,Ametista
2,2020,Não,5.076252,8.00002,4.1,6.875,0.000000,7.1875,7.750000,5.0,Quartzo
3,2020,Não,8.077085,7.50002,8.0,7.500,7.500000,8.4375,8.166665,10.0,Ametista
4,2020,Sim,8.381391,8.33334,9.9,4.375,7.333333,8.7500,8.944450,10.0,Ametista

In [193]:
df_prep_concat.shape

(2273, 11)

In [194]:
melted_df = pd.melt(df_prep_concat, id_vars=['ANO', 'PONTO_VIRADA', 'PEDRA'], value_vars=['INDE', 'IAA', 'IEG', 'IPS', 'IDA', 'IPP', 'IPV', 'IAN'], var_name='indicador', value_name='valor_indicador')
melted_df.head()

    ANO PONTO_VIRADA     PEDRA indicador  valor_indicador
0  2020          Não  Ametista      INDE         7.883752
1  2020          Não  Ametista      INDE         7.856390
2  2020          Não   Quartzo      INDE         5.076252
3  2020          Não  Ametista      INDE         8.077085
4  2020          Sim  Ametista      INDE         8.381391

In [195]:
melted_df = melted_df[['ANO', 'PONTO_VIRADA', 'PEDRA', 'indicador', 'valor_indicador']]
melted_df.rename(columns={'ANO': 'ano', 'PONTO_VIRADA': 'ponto_virada', 'PEDRA': 'pedra', 'indicador': 'indicador', 'valor_indicador': 'valor_indicador'}, inplace=True)
melted_df.head()

    ano ponto_virada     pedra indicador  valor_indicador
0  2020          Não  Ametista      INDE         7.883752
1  2020          Não  Ametista      INDE         7.856390
2  2020          Não   Quartzo      INDE         5.076252
3  2020          Não  Ametista      INDE         8.077085
4  2020          Sim  Ametista      INDE         8.381391

In [200]:
melted_df['classificacao_pedra'] = melted_df['pedra'].map({
    'Quartzo': 1,
    'Ágata': 2,
    'Ametista': 3,
    'Topázio': 4
})

melted_df['classificacao_pedra'] = melted_df['pedra'].map({
    'Quartzo': 1,
    'Ágata': 2,
    'Ametista': 3,
    'Topázio': 4
})

# Reorder columns to place 'classificacao_pedra' right beside 'pedra'
cols = ['ano', 'ponto_virada', 'pedra', 'classificacao_pedra', 'indicador', 'valor_indicador']
melted_df = melted_df[cols]

melted_df.head()

    ano ponto_virada     pedra  classificacao_pedra indicador  valor_indicador
0  2020          Não  Ametista                    3      INDE         7.883752
1  2020          Não  Ametista                    3      INDE         7.856390
2  2020          Não   Quartzo                    1      INDE         5.076252
3  2020          Não  Ametista                    3      INDE         8.077085
4  2020          Sim  Ametista                    3      INDE         8.381391

# Exportando

In [201]:
df_2020_limpo.to_csv('base_2020_limpo.csv', sep=';', index=False)
df_2021_limpo.to_csv('base_2021_limpo.csv', sep=';', index=False)
df_2022_limpo.to_csv('base_2022_limpo.csv', sep=';', index=False)
df_prep_concat.to_csv('base_prep_concat.csv', sep=';', index=False)
melted_df.to_csv('melted_df.csv', sep=';', index=False)